@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #111111;
  --white: #ffffff;
  --primary: #475fcc;
  --secondary: #3d3d3d;
  --tertiary: #9e9e9e;
  --danger: #cf4b4b;
  --success: rgb(75, 182, 75);
  --warning: rgb(212, 190, 64);
  --main: #f3f2ee;
  --main-dark: #e4e3de;
  --overlay-1: rgba(0, 0, 0, 0.3);
  --overlay-2: rgba(0, 0, 0, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

section {
  width: 100%;
  padding-block: 70px;
}

section:last-of-type{
  padding: 0;
}

section:first-of-type {
  padding-top: 100px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  background: none;
  border: none;
}

.hidden {
  overflow: hidden;
}

.resize-animation-stopper * {
  transition: none !important;
  animation: none !important;
  scroll-behavior: unset !important;
}

.container {
  padding-inline: 16px;
  margin-inline: auto;
  width: 1184px;
}

.brand {
  font-size: 32px;
}

.success{
  color: var(--success);
}

.failed{
  color: var(--danger);
}

.heading-1 {
  font-size: 48px;
  margin-bottom: 30px;
  line-height: 58px;
}

.heading-2 {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 30px;
  position: relative;
}

.heading-3 {
  color: var(--danger);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
  font-weight: 700;
}

.heading-4 {
  color: var(--dark);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

.body-text-1 {
  font-size: 14px;
  color: var(--secondary);
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.body-text-2 {
  font-size: 14px;
  color: var(--tertiary);
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 14px;
}

.body-text-3 {
  font-size: 14px;
  color: var(--secondary);
  letter-spacing: 1px;
}

.button-1 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 30px;
  color: var(--white);
  background: var(--dark);
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
}

.button-2 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 30px;
  color: var(--white);
  background: var(--danger);
  letter-spacing: 4px;
  border: none;
  cursor: pointer;
}

.button-3 {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 8px;
  color: var(--white);
  background: var(--success);
  border: none;
  cursor: pointer;
}

.ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ellipses-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.pg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-2);
  z-index: 998;
}

/* --------------------Pagination-------------------- */

#pagination {
  padding-top: 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-inline: auto;
}

.pagination-container > button {
  width: 35px;
  height: 35px;
  border: 1px solid var(--dark);
  cursor: pointer;
}

.pagination-btn-active {
  background-color: var(--dark);
  color: var(--white);
}

/* --------------------Rating-------------------- */

.rating-container {
  display: flex;
}

.active-star {
  color: gold;
}

.inactive-star {
  stroke: gold;
  stroke-width: 50px;
  fill: white;
  width: 14.5px;
}

/* --------------------Navbar-------------------- */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 1px 1px 10px var(--tertiary);
  z-index: 997;
}

nav > .container {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.nav-active {
  box-shadow: 1px 1px 10px var(--tertiary);
}

.nav-brand {
  margin-right: 24px;
  padding-block: 5px;
  color: var(--dark);
}

.nav-brand > span {
  color: var(--danger);
}

.navbar-collapse {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-page-links {
  display: flex;
  align-items: center;
}

.nav-user-links {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.nav-page-links > li,
.nav-user-links > li {
  margin: 8px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-page-links > li > a,
.nav-user-links > li > a {
  color: var(--dark);
  position: relative;
  padding-block: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
}

.nav-page-links > li > a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--danger);
  transform: translateX(-101%);
  transition: transform 0.3s ease-in-out;
}

.nav-user-links > li svg {
  width: 20px;
  height: 20px;
}

.nav-page-links > li > a:hover::after {
  transform: translateX(0);
}

.link-active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--danger);
}

.toggle-collapse {
  align-items: center;
  display: none;
  margin-right: auto;
  cursor: pointer;
}

.toggle-collapse > svg {
  height: 24px;
  width: 24px;
}

.badge {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 24px;
  height: 24px;
  background-color: var(--danger);
  color: var(--main);
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
}

.nav-profile-link {
  position: relative;
}
.nav-profile-badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.nav-profile-badge > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.nav-profile-options {
  position: absolute;
  top: 20px;
  right: -3px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding-top: 28px;
}

.nav-profile-options > li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  gap: 4px;
  color: var(--dark);
  cursor: pointer;
  background-color: var(--white);
  box-shadow: 1px 1px 10px var(--overlay-1);
  border-radius: 50%;
  padding: 4px;
}


.nav-profile-options > li:hover {
  background-color: var(--main);
}

.nav-profile-options > li > svg{
  height: 18px !important;
  width: 18px !important;
}


.nav-profile-options-active {
  visibility: visible;
  opacity: 1;
}

/* --------------------Hero-------------------- */

#hero {
  background-color: var(--main);
}

#hero > .container {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 8fr;
  gap: 16px;
}

#hero > .container > div{
  overflow: visible;
}


.hero-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* --------------------Trending Products-------------------- */

.trending-products-container {
  overflow-x: hidden;
  padding-block: 8px;
  scroll-behavior: smooth;
  width: 100%;
}

.slider-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-buttons {
  display: flex;
  gap: 8px;
}

.slider-buttons > button {
  background-color: var(--dark);
  padding: 8px;
  cursor: pointer;
}

.slider-buttons > button > svg {
  margin-block: auto;
  color: var(--white);
  font-size: 20px;
}

.slider {
  display: flex;
  width: fit-content;
  gap: 16px;
}

.trending-products-container::-webkit-scrollbar {
  height: 0;
}

.slider > .product-card {
  width: 276px;
}

/* --------------------Trending Category-------------------- */

#trending-category > .container {
  height: 550px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a a b c"
    "a a b d";
  gap: 8px;
}

.category {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.category-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-1);
  transition: background-color 0.3s ease-in-out;
}

.category:hover > .category-overlay {
  background-color: var(--overlay-2);
}

.category:nth-child(1) {
  grid-area: a;
}
.category:nth-child(2) {
  grid-area: b;
}
.category:nth-child(3) {
  grid-area: c;
}
.category:nth-child(4) {
  grid-area: d;
}

.category-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--overlay-1);
}

.category > h2 {
  color: var(--white);
  position: absolute;
  bottom: 8px;
  left: 8px;
  text-transform: capitalize;
}

.category > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* --------------------Best Seller-------------------- */

#promotion-banner {
  background-color: var(--main);
}

#promotion-banner > .container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 16px;
  align-items: center;
}

#promotion-banner > .container > div:first-child {
  order: 0;
}

#promotion-banner > .container > div:last-child {
  order: 1;
}


.promotion-banner-image > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
/* --------------------Best Seller-------------------- */

#bestseller > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestseller-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/* --------------------Product Card-------------------- */

.product-card {
  cursor: pointer;
  position: relative;
  background-color: var(--white);
  box-shadow: 1px 1px 10px -3px var(--tertiary);
  transition: all 0.3s ease-in-out;
}


.product-card:hover{
  box-shadow: 1px 1px 10px 0px var(--tertiary);
} 

.product-card-img img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  background-position: center center;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  position: relative;
  overflow: hidden;
}

.product-card-content > h5 {
  font-size: 14px;
  margin-bottom: 8px;
}

.product-card-content > h4 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 16px;
}

.product-card-options {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.product-card-options > svg {
  height: 20px;
  width: 20px;
  margin: 8px;
}

/* --------------------Product Page-------------------- */

#product-content > .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-content-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-content-images img {
  width: 100%;
}

.product-content-description {
  padding: 32px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.product-content-description h1 {
  margin-bottom: 10px;
  align-self: flex-start;
}
.product-content-rating {
  display: flex;
  margin-bottom: 20px;
}

.product-content-rating > h6 {
  color: var(--tertiary);
  font-size: 14px;
  padding-left: 8px;
  margin-left: 8px;
  border-left: 2px solid var(--tertiary);
}

.description > h3 {
  color: var(--dark);
}

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.quantity-container {
  display: flex;
  align-items: center;
  background-color: var(--main);
  margin-right: 16px;
}
.quantity-container > button,
.quantity-container span {
  padding: 8px 16px;
  font-size: 16px;
}

.quantity-container > span {
  width: 55px;
  text-align: center;
}

.quantity-container > button {
  cursor: pointer;
}

.stock-message {
  color: var(--danger);
  text-transform: capitalize;
  font-size: 18px;
}

[data-stock="false"] {
  color: var(--success);
}

.product-content-price {
  margin-bottom: 16px;
}

.product-content-btns {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.product-reviews{
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 16px;
}

.overall-rating{
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 1px 1px 10px -3px var(--tertiary);
  height: fit-content;
}

.overall-rating > h4{
  margin-block: 8px;
  font-size: 14px;
  color: var(--dark);
}
.overall-rating > p{
  margin-block: 8px;
  font-size: 14px;
  color: var(--secondary);
  letter-spacing: 1px;
}

.reviews-container{
  display: flex;
  flex-direction: column;
}

.review-form > input[type='text']{
  margin-top: 10px;
  width: 100%;
  padding: 10px 16px;
  outline: none;
  color: var(--dark);
  border: 1px solid var(--tertiary);
  border-radius: 5px;
}

.user-reviews{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.review{
  background-color: var(--main);
  padding: 16px;
}

.review-head > h1{
  font-size: 16px;
  color: var(--dark);
}

.review-head > div{
  display: flex;
  align-items: center;
  gap: 8px;
}

.review-head > div > p{
  font-size: 16x;
  font-weight: 600;
  letter-spacing: 1px;
}

.comment{
  margin-block: 10px;
  font-size: 14px;
  color: var(--secondary);
  letter-spacing: 1px;
}

/* --------------------Browse-------------------- */

#browse-filters {
  padding-bottom: 0;
}

.browse-container {
  background-color: var(--main);
  padding: 16px;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.category-container > span {
  border: 1px solid var(--tertiary);
  color: var(--tertiary);
  padding: 4px 16px;
  cursor: pointer;
  font-size: 14px;
}

.active-category {
  border-color: var(--dark) !important;
  color: var(--dark) !important;
}

#browse-results > .container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/* --------------------Login-------------------- */

#auth-container {
  background-color: var(--main);
}

#auth-container > .container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: fit-content;
  min-width: 400px;
  height: 600px;
  padding: 32px 16px;
}

.form-container > h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 16px;
}

.form-label > input, .form-label > textarea {
  font-size: 14px;
  padding: 10px 16px;
  border: 1px solid var(--tertiary);
  outline: none;
  border-radius: 4px;
  width: 100%;
}

.form-label > input:user-valid + span,
.form-label > input:user-invalid + span,
.form-label > input:focus + span,
.form-label > input:user-valid + span {
  top: -6px;
  left: 10px;
  font-size: 12px;
  padding-inline: 4px;
}

.form-label > input:user-invalid + span {
  color: var(--danger);
}

.form-label > input:focus {
  border-color: var(--dark);
}

.form-label > span {
  position: absolute;
  top: 14px;
  left: 16px;
  color: var(--dark);
  background-color: var(--white);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  line-height: 14px;
  text-transform: capitalize;
}

.form-container > form > input[type="submit"] {
  background-color: var(--danger);
  border-radius: 4px;
  margin-bottom: 16px;
}

.form-link {
  color: var(--primary);
  margin-bottom: 16px;
  align-self: flex-end;
  text-transform: capitalize;
  font-size: 14px;
}

.form-link:hover {
  text-decoration: underline;
}

.form-container > form > p:last-of-type {
  font-size: 14px;
}

.form-error-msg {
  font-size: 14px;
  font-weight: 500;
  padding-left: 2px;
  color: var(--danger);
}

/* --------------------Sign Up-------------------- */

.signup-form {
  display: grid !important;
  grid-template-areas:
    "a b"
    "c c"
    "d d"
    "e e"
    "f f"
    "g g"
    "h h";
}

.signup-form > label:nth-child(1) {
  grid-area: a;
}
.signup-form > label:nth-child(2) {
  margin-left: 16px;
  grid-area: b;
}
.signup-form > label:nth-child(3) {
  grid-area: c;
}
.signup-form > label:nth-child(4) {
  grid-area: d;
}
.signup-form > label:nth-child(5) {
  grid-area: e;
}
.signup-form > a {
  grid-area: f;
  width: fit-content;
  margin-left: auto;
}
.signup-form > input {
  grid-area: g;
}
.signup-form > p {
  grid-area: h;
}

/* --------------------Cart-------------------- */

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: var(--white);
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.cart-active {
  transform: translateX(0);
}

.cart-header {
  height: 60px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  padding-inline: 16px;
}

.cart-header > h1 {
  text-transform: uppercase;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
}

.cart-header > svg {
  color: var(--white);
  width: 24px;
  height: 24px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}
.cart-items {
  height: 100%;
  margin-bottom: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-item {
  display: grid;
  border: 1px solid var(--dark);
  /* height: 125px; */
  grid-template-columns: 4fr 7fr 1fr;
}

.cart-item-img {
  display: flex;
  background-color: var(--main);
  align-items: center;
}

.cart-item-img > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
}

.cart-item-info {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-info > h6 {
  font-size: 14px;
}

.cart-item-info > p {
  font-size: 14px;
  color: var(--dark);
  font-weight: 800;
}

.remove-btn {
  padding-top: 8px;
}

.cart-quantity-container {
  display: flex;
  background-color: var(--main);
  width: fit-content;
}

.cart-quantity-container > button {
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
}

.cart-quantity-container > span {
  padding: 4px 8px;
  width: 25px;
  font-size: 14px;
}

.cart-summary {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  border-top: 1px dashed var(--dark);
  padding-top: 16px;
}

.cart-summary > h1 {
  grid-area: a;
  font-size: 18px;
}

.cart-summary > p {
  grid-area: b;
  text-align: right;
  font-weight: 800;
  color: var(--success);
}

.cart-summary > button {
  grid-area: c;
  margin-top: 16px;
  background-color: var(--danger);
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 100%;
}

.empty-cart > img {
  max-width: 300px;
  width: 100%;
}

/* --------------------Checkout Steps-------------------- */

#checkoutSteps {
  padding-bottom: 0;
}

#checkoutSteps > .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--success);
  max-width: calc(100% - 72px) !important;
  height: 4px;
  z-index: -1;
  margin-inline: 36px;
  transition: width 0.3s ease-in-out;
}

.step {
  background-color: var(--main);
  color: var(--dark);
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.current-step {
  background-color: var(--primary);
  color: var(--white);
}

.completed-step {
  background-color: var(--success);
  color: var(--white);
}

/* --------------------Checkout-------------------- */

#checkout {
  min-height: 70vh;
}

#checkout > .container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 16px;
}

.checkout-summary {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  box-shadow: 1px 1px 10px var(--tertiary);
  height: fit-content;
}

.checkout-summary > h1 {
  margin-bottom: 24px;
}
.checkout-summary > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.checkout-summary > div:last-of-type {
  padding-top: 16px;
  margin-bottom: 8px;
  border-top: 1px dashed var(--dark);
}

.checkout-summary > div > h4,
.checkout-summary > div > p {
  font-size: 14px;
  color: var(--dark);
  text-transform: capitalize;
}



/* --------------------Address Form-------------------- */

.address-form {
  display: grid;
  grid-template-areas: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b b"
    "c d"
    ". e";
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  gap: 16px;
}

.address-form > .form-label {
  margin: 0;
}

.address-form > label > span {
  top: -6px;
  left: 10px;
  font-size: 12px;
}

.address-form > label:nth-child(1) {
  margin-top: 16px;
  grid-area: a;
}
.address-form > label:nth-child(2) {
  grid-area: b;
}
.address-form > label:nth-child(3) {
  grid-area: c;
}
.address-form > label:nth-child(4) {
  grid-area: d;
}

.address-form > input {
  grid-area: e;
}


/* --------------------Shipping Address-------------------- */

.shipping-address {
  margin-bottom: 16px;
}

.address-form-container{
  display: flex;
  flex-direction: column;
}

.address-form-container > button {
  border: 1px dashed var(--dark);
  text-align: left;
  padding: 16px;
  cursor: pointer;
}


/* --------------------checkout cart-------------------- */

.checkout-cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout-cart-container > h1 {
  letter-spacing: 2px;
  margin-bottom: 32px;
}

.checkout-cart-head {
  display: grid;
  margin-bottom: 32px;
  grid-template-columns: 5fr 2fr 3fr 2fr;
}

.checkout-cart-head > span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: var(--tertiary);
}

.checkout-cart-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout-cart-item {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr 2fr;
  border-bottom: 1px solid var(--tertiary);
  padding-block: 16px;
  min-height: 150px;
  overflow: hidden;
}

.checkout-product {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.checkout-item-image {
  height: 100%;
}

.checkout-item-image > img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.checkout-item-info {
  padding-inline: 8px;
}

.checkout-item-info > h4 {
  font-size: 14px;
  color: var(--dark);
}

.checkout-item-info > h6 {
  font-size: 14px;
  color: var(--tertiary);
}

.checkout-cart-item > p {
  font-weight: 14px;
  font-weight: 800;
  font-size: 14px;
}

.checkout-item-quantity > div {
  display: flex;
  background-color: var(--main);
  width: fit-content;
}

.checkout-item-quantity > div > button {
  width: 30px;
  height: 30px;
  font-size: 14px;
  text-align: center;
}
.checkout-item-quantity > div > span {
  width: 34px;
  height: 30px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

/* --------------------Payment-------------------- */

.payment-container > .shipping-address {
  border-bottom: 1px dashed var(--tertiary);
}

/* --------------------Order-------------------- */

#order > .container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 16px;
}

.order-container > .shipping-address,
.order-p {
  border-bottom: 1px solid var(--tertiary);
}

.order-payment {
  border-bottom: 1px solid var(--tertiary);
  margin-bottom: 16px;
}

.order-payment > h4 {
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.order-payment > h4 > span {
  font-weight: 500;
}

.order-summary {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  box-shadow: 1px 1px 10px var(--tertiary);
  height: fit-content;
}

.order-summary > h1 {
  margin-bottom: 24px;
}

.order-summary > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.order-summary > div:last-of-type {
  padding-top: 16px;
  border-top: 1px dashed var(--dark);
}

.order-summary > div > h4,
.order-summary > div > p {
  font-size: 14px;
  color: var(--dark);
  text-transform: capitalize;
}

.status {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  padding: 8px;
  border-radius: 5px;
}

.false {
  background-color: var(--danger);
}

.true {
  background-color: var(--success);
}


/* --------------------Profile-------------------- */

#profile {
  min-height: 60vh;
}

#profile > .container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 9fr;
  gap: 16px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: fit-content;
}

.profile-info {
  display: flex;
  align-items: center;
  padding: 32px 16px;
  width: 100%;
}

.profile-img {
  width: 60px;
  height: 60px;
}

.profile-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.profile-info > div:last-of-type {
  flex: 1;
  margin-left: 10px;
}

.profile-info h1 {
  margin-bottom: 0;
}

.profile-info p {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--secondary);
}

.profile-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main);
  overflow: hidden;
}

.profile-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  text-transform: capitalize;
  cursor: pointer;
  border-bottom: 1px solid var(--main-dark);
  font-size: 14px;
}

.profile-link:last-child {
  border: none;
}

.profile-link > span {
  margin-left: 16px;
}

.profile-link:hover {
  background-color: var(--main-dark);
}

.profile-link-active {
  background-color: var(--main-dark);
}

.profile-content{
  padding-block: 32px;
  min-height: 500px;
  box-shadow: 1px 1px 10px -3px var(--tertiary);
  border-radius: 5px;
  padding: 16px;
}

.profile-content .heading-3{
  padding-bottom: 12px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
}

/* --------------------Account Info-------------------- */

.account-info-container{
  display: flex;
  flex-direction: column;
}

.account-content{
  display: flex;
  flex-direction: column;
}

.account-info{
  display: grid;
  grid-template-columns: 2fr 10fr;
  margin-bottom: 16px;
  padding: 16px;
  gap: 16px;
  background-color: var(--main);
}

/* --------------------Update Profile-------------------- */

.update-profile-container {
  display: flex;
  flex-direction: column;
}

.update-profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.update-profile-form > .form-label {
  margin: 0;
}


.update-profile-form > input {
  align-self: flex-end;
}

.update-profile-form > .form-label > span {
  top: -6px;
  left: 10px;
  font-size: 12px;
  padding-inline: 4px;
}
/* --------------------My Orders-------------------- */

.orders-history-container {
  display: flex;
  flex-direction: column;
}

.profile-order-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

/* --------------------Order List-------------------- */

.order-list-container{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-bottom: 16px;
}

.order-list-head{
  display: grid;
  grid-template-columns: 4fr 1.6fr 1.6fr 1.6fr 1.6fr 1.6fr;
  gap: 8px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--main);
  padding-bottom: 8px;
}

.order-list-head > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  color: var(--tertiary);
  text-align: center;
}

.order-item-container {
  display: grid;
  grid-template-columns: 4fr 1.6fr 1.6fr 1.6fr 1.6fr 1.6fr;
  gap: 8px;
  padding-block: 24px;
  cursor: pointer;
  height: fit-content;
  background-color: var(--white);
}

.order-item-container:nth-child(even){
  background-color: var(--main);
}

.order-item-container:last-child{
  border-bottom: 1px solid var(--main);
}

.order-item-container:hover {
  background-color: var(--main-dark) !important;
}


.order-item-container > p {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  word-break: break-all;
  text-align: center;
}

.order-item-container > svg{
  margin: auto;
}

/* --------------------Orders List Page-------------------- */

#order-list{
  min-height: 100vh;
}

#order-list > .container{
  display: flex;
  flex-direction: column;
}

#order-list > .container h1{
  font-size: 20px;
  margin-bottom: 24px;
}


/* --------------------Dashboard-------------------- */

#product-list{
  min-height: 100vh;
}

#product-list > .container{
  display: flex;
  flex-direction: column;
}

#product-list > .container h1{
  font-size: 20px;
  margin-bottom: 24px;
}

.product-list-container{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-bottom: 16px;
}

.product-list-head{
  display: grid;
  grid-template-columns: 3fr 4fr 1fr 2fr 1fr 0.5fr 0.5fr;
  gap: 8px;
  margin-bottom:32px;
  border-bottom: 1px solid var(--main);
  padding-bottom: 8px;
}


.product-list-head > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  color: var(--tertiary);
  text-align: center;
}

.product-item-container{
  display: grid;
  grid-template-columns: 3fr 4fr 1fr 2fr 1fr 0.5fr 0.5fr;
  gap: 8px; 
  padding-block: 24px;
  cursor: pointer;
  height: fit-content;
}

.product-item-container:nth-child(odd){
  background-color: var(--main);
}
.product-item-container:hover {
  background-color: var(--main-dark);
}

.product-item-container:last-child{
  border-bottom: 1px solid var(--main);
}

.product-item-container > p {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  word-break: break-all;
  text-align: center;
}

.product-item-container > svg{
  margin: auto;
}

/* --------------------Edit Product-------------------- */

.edit-product-form > .form-label > span{
  top: -6px;
  left: 10px;
  font-size: 12px;
  padding-inline: 4px;
}

/* --------------------User List Page-------------------- */

#user-list{
  min-height: 100vh;
}

#user-list > .container{
  display: flex;
  flex-direction: column;
}

#user-list > .container h1{
  font-size: 20px;
  margin-bottom: 24px;
}

.user-list-container{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-bottom: 16px;
}

.user-list-head{
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1.5fr 2fr 0.5fr;
  gap: 8px;
  margin-bottom:32px;
  border-bottom: 1px solid var(--main);
  padding-bottom: 8px;
}


.user-list-head > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  color: var(--tertiary);
  text-align: center;
}

.user-item-container{
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1.5fr 2fr 0.5fr;
  gap: 8px; 
  padding-block: 24px;
  cursor: pointer;
  height: fit-content;
}

.user-item-container > button{
  width: fit-content;
  margin: auto;
}

.user-item-container:nth-child(odd){
  background-color: var(--main);
}
.user-item-container:hover {
  background-color: var(--main-dark);
}

.user-item-container:last-child{
  border-bottom: 1px solid var(--main);
}

.user-item-container > p {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  word-break: break-all;
  text-align: center;
}

.user-item-container > svg{
  margin: auto;
}


/* --------------------Dashboard-------------------- */

#dashboard{
  min-height: 100vh;
}

.dashboard-link{
  color: var(--tertiary);
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 16px;
  width: fit-content;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.dashboard-link:hover{
  text-decoration: underline;
}

#dashboard > .container > .heading-3{
  font-size: 20px;
  margin-bottom: 24px;
}

.dashboard-content{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  'a b c d'
  'e e e e'
  'f f f g';
  gap: 16px;
}

.dashboard-card{
  padding: 16px;
  box-shadow: 1px 1px 10px -3px var(--tertiary);
  display: grid;
  grid-template-columns: 9fr 3fr;
  cursor: pointer;
}

.dashboard-card:hover{
  box-shadow: 1px 1px 10px 2px var(--tertiary);
}


.dashboard-card > div:last-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-card > div > span{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: fit-content;
  width: fit-content;
  padding: 8px;
  color: var(--white)
}

.dashboard-card-head > h1{
  margin-bottom: 8px;
}

.dashboard-card-head > p{
  color: var(--dark);
  font-size: 18px;
  font-weight: bold;
}

.dashboard-card:nth-child(1){
  grid-area: a;
}

.dashboard-card:nth-child(1) > div > h1{
  color: var(--success);
}

.dashboard-card:nth-child(1) > div > span{
  background-color: var(--success);
}


.dashboard-card:nth-child(2){
  grid-area: b;
}

.dashboard-card:nth-child(2) > div > h1{
  color: var(--danger);
}

.dashboard-card:nth-child(2) > div > span{
  background-color: var(--danger);
}


.dashboard-card:nth-child(3){
  grid-area: c;
}

.dashboard-card:nth-child(3) > div > h1{
  color: var(--primary);
}

.dashboard-card:nth-child(3) > div > span{
  background-color: var(--primary);
}


.dashboard-card:nth-child(4){
  grid-area: d;
}

.dashboard-card:nth-child(4) > div > h1{
  color: var(--warning);
}

.dashboard-card:nth-child(4) > div > span{
  background-color: var(--warning);
}


.revenue-chart{
  grid-area: e;
  height: 300px;
}

/* --------------------Footer-------------------- */

footer {
  padding-top: 70px;
  position: relative;
  background-color: var(--dark);
}

.footer-brand {
  color: var(--white);
  margin-bottom: 24px;
}

.footer-brand > span {
  color: var(--danger);
}

.footer-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 12fr;
}

.footer-content > div:first-of-type {
  padding-right: 24px;
}

.footer-content > div:first-of-type > p {
  margin-bottom: 24px;
}

.footer-content > div:first-of-type > ul {
  display: flex;
  margin-bottom: 16px;
}

.footer-content > div:last-of-type {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 24px;
}

.footer-content > div:last-of-type > ul {
  padding-right: 16px;
  margin-top: 56px;
}

.footer-content > div:last-of-type > ul:nth-child(4) {
  padding-right: 0;
}

.footer-content > div > ul > li > a {
  margin-block: 4px;
  color: var(--tertiary);
  font-size: 14px;
}

.footer-copyright {
  padding-block: 20px;
  border-top: 1px solid var(--secondary);
  margin-top: 32px;
}

.footer-copyright > p {
  text-align: center;
  color: var(--tertiary);
  font-size: 14px;
}

.footer-copyright > p > a {
  color: var(--danger);
}

/* --------------------Responsive-------------------- */

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .bestseller-container,
  #browse-results > .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-content > div {
    padding: 0 !important;
  }
}
@media screen and (max-width: 992px) {
  #trending-category > .container {
    height: 500px;
  }
  .slider > .product-card {
    width: 299px;
  }

  #checkout > .container,
  #order > .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .heading-1 {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .heading-2 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .heading-3 {
    font-size: 12px;
  }

  .body-text-1,
  .body-text-2 {
    font-size: 12px;
  }

  .button-1,
  .button-2 {
    padding: 14px 20px;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .button-3{
    font-size: 10px;
    padding: 2px 4px;
  }

  .brand {
    font-size: 24px;
  }

  .nav-brand {
    margin-right: 14px;
  }

  .navbar-collapse {
    position: absolute;
    top: 60px;
    left: 0;
    padding-inline: 16px;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    background-color: var(--white);
    box-shadow: 1px 1px 10px var(--tertiary);
    z-index: -1;
  }

  .collapse {
    transform: translateY(-100%);
  }

  .nav-page-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .slider > .product-card {
    width: 336px;
  }

  .slider-buttons > button {
    background-color: var(--dark);
    padding: 4px;
    cursor: pointer;
  }
  .slider-buttons > button > svg {
    font-size: 16px;
  }

  .toggle-collapse {
    display: flex;
  }

  #hero > .container {
    grid-template-columns: 1fr;
  }

  #hero > .container > div:first-of-type {
    order: 1;
  }
  #hero > .container > div:last-of-type {
    order: 0;
  }

  #trending-category > .container {
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b "
      "c d ";
  }

  .category > h2 {
    font-size: 18px;
  }

  .bestseller-container,
  #browse-results > .container {
    grid-template-columns: repeat(2, 1fr);
  }

  #product-content > .container,
  #promotion-banner > .container {
    grid-template-columns: 1fr;
  }

  .product-content-description {
    padding-inline: 0;
    padding-bottom: 0;
  }

  .product-content-price {
    font-size: 16px;
  }

  .quantity-container > button,
  .quantity-container > span {
    font-size: 14px;
    padding: 4px 10px;
  }

  .quantity-container > span {
    width: 40px;
  }

  .product-reviews{
    grid-template-columns: 1fr;
  }

  .signup-form {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h";
  }

  .signup-form > label:nth-child(2) {
    margin-left: 0;
  }

  .checkout-cart-item {
    min-height: 100px;
  }

  .checkout-cart-item > p {
    font-size: 12px;
  }

  #profile > .container {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .profile-container {
    height: fit-content;
  }

  .update-profile-container,
  .orders-history-container {
    padding-inline: 0;
  }

  .profile-links {
    flex-direction: row;
    height: fit-content;
  }

  .profile-link {
    justify-content: center;
  }
  .profile-link > span {
    display: none;
  }

  .order-list-head > span {
    font-size: 12px;
  }

  .order-item-container > p {
    font-size: 12px;
  }

  .footer-content > div:last-of-type {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content > div:last-of-type > ul:nth-child(1),
  .footer-content > div:last-of-type > ul:nth-child(2) {
    margin-top: 48px;
  }
  .footer-content > div:last-of-type > ul:nth-child(3),
  .footer-content > div:last-of-type > ul:nth-child(4) {
    margin-top: 16px;
  }
}
@media screen and (max-width: 480px) {

  .button-3{
    font-size: 8px;
  }

  .slider > .product-card {
    width: 299px;
  }

  .bestseller-container,
  #browse-results > .container {
    grid-template-columns: 1fr;
  }

  .form-container {
    width: 100%;
    min-width: 100%;
  }
  .cart-container {
    width: 100%;
  }

  .checkout-cart-head > span {
    font-size: 12px;
  }

  .checkout-item-info > h4,
  .checkout-item-info > h6,
  .checkout-item-info > p {
    font-size: 12px;
  }

  .profile-link {
    font-size: 14px;
    padding-inline: 4px;
  }

  .update-profile-form {
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g";
  }

  .address-form {
    grid-template-areas: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
  }
}
@media screen and (max-width: 320px) {
}
